.card{
   
    border-radius: 10px;
    height: 300px;
    display: flex;
    gap: 10px;
    margin: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

  .card>.pic{
    width: 300px;
    height: 300px;
    border-radius: 10px;
    overflow: hidden;
  }
  .card>.para{
    width: 1200px;
  }

.card img {
    width: 300px;
    height: 300px;
     -webkit-transition: all 0.8s ease;
    -moz-transition: all 0.8s ease;
    transition: all 0.8s ease;
    
  }
  
  .card img:hover {
    transform: scale(2,2);
  }

#pagi{
    margin-left: 45%;
}
#pagi>button{
    width: 100px;
    height: 30px;
   background-color: rgba(189, 255, 255, 0.385);
   border: 0px;
}
h4,p{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
h4{
  font-size: 22px;
  color: #2B2c2D;
}
p{
  font-size: 21px;
  color: #48494A;
}